/* Contenedor principal del interruptor */
.theme-toggle-switch {
  position: relative;
  width: 80px; /* Ancho aumentado para mejor visibilidad */
  height: 40px;
  background-color: var(--color-superficie-hover);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-borde);
  overflow: hidden; /* Para contener el highlight */
}

/* El fondo que se ilumina y se mueve */
.highlight {
  position: absolute;
  width: 38px; /* Un poco menos de la mitad */
  height: 38px;
  background-color: var(--color-primario);
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 1px;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Transición con rebote */
}

/* Mover el highlight en modo oscuro */
.theme-toggle-switch.dark-mode .highlight {
  transform: translateX(40px);
}

/* Íconos */
.sun-icon,
.moon-icon {
  font-size: 18px;
  z-index: 1; /* Asegura que los íconos estén sobre el highlight */
  transition: color 0.3s ease;
}

/* Color del ícono activo (blanco) e inactivo (color de texto) */
.theme-toggle-switch .sun-icon {
  color: white;
}
.theme-toggle-switch .moon-icon {
  color: var(--color-texto);
}

.theme-toggle-switch.dark-mode .sun-icon {
  color: var(--color-texto);
}
.theme-toggle-switch.dark-mode .moon-icon {
  color: white;
}
