
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Tema Claro (Default) */
  --color-fondo: #f0fdfa;
  --color-texto: #0d1c1a;
  --color-superficie: #ffffff;
  --color-superficie-texto: #0d1c1a;
  --color-superficie-hover: #e6f6f3;
  --color-borde: #ccece6;
  --color-primario: #00695c;
  --color-primario-texto: #ffffff;
  --color-primario-hover: #00796b;
  --color-secundario: #17a2b8;
  --color-secundario-texto: #ffffff;
  --color-secundario-hover: #138496;
  --color-aviso-fondo: #ffc107;
  --color-aviso-texto: #212529;
  --color-aviso-fondo-hover: #e0a800;
  --color-input-fondo: #ffffff;
  --color-input-texto: #0d1c1a;
  --color-input-borde: #ccece6;
  --color-peligro-fondo: #f8d7da;
  --color-peligro-texto: #721c24;
  --color-peligro-borde: #f5c6cb;
  --color-peligro-fondo-hover: #f5c6cb;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  /* Tema Oscuro */
  --color-fondo: #121a19;
  --color-texto: rgba(255, 255, 255, 0.87);
  --color-superficie: #1a2e2b;
  --color-superficie-texto: rgba(255, 255, 255, 0.87);
  --color-superficie-hover: #2a3f3c;
  --color-borde: #004d40;
  --color-primario: #00796b;
  --color-primario-texto: #ffffff;
  --color-primario-hover: #009688;
  --color-secundario: #2692a1;
  --color-secundario-texto: #ffffff;
  --color-secundario-hover: #2fabbd;
  --color-aviso-fondo: #8c6c0c;
  --color-aviso-texto: #ffffff;
  --color-aviso-fondo-hover: #ab8510;
  --color-input-fondo: #1a2e2b;
  --color-input-texto: rgba(255, 255, 255, 0.87);
  --color-input-borde: #004d40;
  --color-peligro-fondo: #582a2e;
  --color-peligro-texto: #f8d7da;
  --color-peligro-borde: #a13c45;
  --color-peligro-fondo-hover: #6b3239;

  color-scheme: dark;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  font-weight: 500;
  color: var(--color-primario);
  text-decoration: inherit;
  transition: color 0.25s;
}

a:hover {
  color: var(--color-primario-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-superficie);
  color: var(--color-superficie-texto);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

button:hover {
  border-color: var(--color-primario);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

